@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;300;400;500;700&family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

:root {

    --green: #1db954;
    --black-minimal: #212121;
    --black-total: #121212;
    --gray-minimal: #535353;
    --gray-total: #b3b3b3;

}